<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	* {
		padding: 0;
		margin: 0;
	}
	body { font-family: '微软雅黑' }
	h1, h2, h3, h4, h5 { font-size: 14px; }
	li { list-style: none; }
	#app { width: 300px; padding: 20px; margin: auto;}
	h1, .btns { margin: 10px 0; }
	.list li { padding: 10px; margin-bottom: 10px; border: 1px solid #eee; box-shadow: 0 2px 2px rgba(0,0,0,0.2); }
	.list li>div { margin-bottom: 5px; }
	.tool { text-align: right; }
	</style>
</head>
<body>
	<section id="app">
		<h1>哔哩哔哩 (゜-゜)つロ 干杯</h1>
		<div class="btns">
			<button v-on:click="handleAdd">新建需求</button>
			<button v-on:click="handleUpdate">更新需求</button>
		</div>
		<div class="task-container">
			<ul class="list">
				<li v-for="(item, index) in list">
					<div class="title">{{index+1}}.&nbsp;<input type="text" v-model="item.task_name"></div>
					<div class="is-experience">
						<label for="checkbox">
							<input type="checkbox" id="checkbox" v-model="item.is_experience">&nbsp;体验
						</label>
					</div>
					<div class="test-time">提测时间: <input type="date" v-model="item.test_time"></div>
					<div class="online-time">上线时间: <input type="date" v-model="item.online_time"></div>
					<div class="tool">
						<button v-on:click="handleDelete(index, list)">删除</button>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<script type=text/javascript src=../script/vue.js></script>
	<script type=text/javascript src=../script/task.js></script>
</body>
</html>