<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>实例todo</title>
        <script src="js/vue.js"></script>
        <script>
        window.onload = function(){
            new Vue({
                el: "#todo",
                data: {
                    name: "",
                    age: "",
                    list: [],
                    nowIndex: -1
                },
                methods: {
                    add: function(){
                        this.list.push({
                            name: this.name,
                            age: this.age
                        });

                        this.name = "";
                        this.age = "";
                    },

                    reset: function(){
                        this.name = "";
                        this.age = "";
                    },

                    delete1: function(index){
                        this.nowIndex = index;
                        this.list.splice(index, 1);
                    },

                    deleteAll: function(){
                        this.list = [];
                    }
                }
            });
        }
        </script>
    </head>
    <body>
        <div id="todo">
            <div class="add">
                姓名：<input type="text" v-model="name">
                年龄：<input type="text" v-model="age">
                <button type="button" name="button" v-on:click="add()">添加</button>
                <button type="button" name="button" v-on:click="reset()">重置</button>
            </div>
            <table style="width:400px;">
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(item, index) in list">
                    <td align="center">{{index+1}}</td>
                    <td align="center">{{item.name}}</td>
                    <td align="center">{{item.age}}</td>
                    <td align="center"><button type="button" name="button" v-on:click="delete1(index)">删除</button></td>
                </tr>
                <tr v-if="list.length==0">
                    <td colspan="4" align="center">暂无数据</td>
                </tr>
                <tr v-if="list.length!=0">
                    <td colspan="4" align="center"><button type="button" name="button" v-on:click="deleteAll()">删除全部</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>
